#this is only for the mysqld standalone daemon

[mysqld]

user                = root
socket              = /var/run/mysqld/mysqld.sock
port                = 3306
datadir             = /var/lib/mysql
bind-address        = 0.0.0.0
log_error           = /var/log/mysql/error.log
expire_logs_days    = 10


